# Ignore all .env files
.env*
**/.env*

# Ignore Python virtual environments
.venv/
**/.venv/
venv/
**/venv/

# Ignore Python cache files and folders
__pycache__/
**/__pycache__/
*.py[cod]

# Ignore VSCode settings and editor files
.vscode/

# Ignore Alembic generated migration files
migrations/versions/
deprecated/

# Ignore everything in unit/ except unit.json
unit/*
!unit/unit.json